{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/admin/admin.css') }}" rel="stylesheet" />
<link href="{{ asset('css/index.css') }}" rel="stylesheet" />
<link href="{{ asset('css/form.css') }}" rel="stylesheet" />
{% endblock %}

{% block head %}
<title>Askaway | Admin</title>
<meta name="robots" content="noindex">
{% endblock %}

{% block body %}
<section class="form">
    {{ form_start(form) }}
    <div class="title">Ajouter un article</div>
    <div class="line1">
        {{ form_row(form.title, {'attr':{'placeholder':'Title'}}) }}
        {{ form_row(form.categorie) }}
    </div>
    <br>
    <div class="line2">
        {{ form_row(form.image) }}
        {{ form_row(form.online) }}
    </div>
    <div class="btn">
        <button type="submit">Ajouter l'article</button>
    </div>
    {{ form_end(form) }}
</section>
<section class="articles">
    {% for article in articles %}
        <div class="article">
            <a href="{{path('admin_sections', {id: article.id, slug: article.title|slugify})}}">
                {% if article.online %}
                <div class="card" id="online">
                {% else %}
                <div class="card" id="offline">
                {% endif %}
                
                    <div class="image">
                        <img src="{{ asset('/upload/'~ article.image)}}" alt="{{article.title}} image">
                    </div>
                    <div class="categorie">
                        <p>{{article.categorie}}</p>
                    </div>
                    <div class="title">
                        <p>{{article.title}}</p>
                    </div>
                    <div class="date">
                        <p>{{article.createdAt|date("Y-m-d")}}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</section>
{% endblock %}
