{% extends 'base.html.twig' %}

{% block head %}
<title>Askaway | Admin</title>
<meta name="robots" content="noindex">
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/admin/stats.css') }}" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block body %}
<section class="boxes">
    <div class="box">
        <h4>Aujourd'hui :</h4>
        <h1>{{dailyVisitors}}</h1>
    </div>
    <div class="box">
        <h4>Ce mois ci :</h4>
        <h1>{{monthlyVisitors}}</h1>
    </div>
    <div class="box">
        <h4>Cette année :</h4>
        <h1>{{yearlyVisitors}}</h1>
    </div>
</section>
<section>
    <div class="detailChart">
        {% for visitor in visitors %}
        <div class="line">
            <div class="option" id="ip">{{visitor.ip}}</div>
            <div class="option" id="region">{{visitor.city}}</div>
            <div class="option" id="country">{{visitor.country}}</div>
            <div class="option" id="date">{{visitor.visitedAt|date("d-m-y H:i:s")}}</div>
            <div class="option" id="page">{{visitor.page}}</div>
            <hr>
        </div>
        {% else %}
        Aucune données présente pour le moment            
        {% endfor %}
    </div>
</section>
{% endblock %}