{% extends 'base.html.twig' %}

{% block head %}
<title>{{article.title}}</title>
<meta name="description" content="{{metaDesc}}">
<meta name="robots" content="index">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8548677463017804" crossorigin="anonymous"></script>
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/index.css') }}" rel="stylesheet" />
<link href="{{ asset('css/article.css') }}" rel="stylesheet" />
<link href="{{ asset('css/hideHeader.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<div id="loader-overlay">
    <div class="loader"></div>
  </div>
<header class="logoCard">
    <div class="logo">
        <a href="{{path('home')}}">ASKAWAY</a>
    </div>
</header>
<section class="categories">
    <div class="categories">
        {% for category in categories %}
            <div class="category">
                <a href="{{path('categorie', {name:category.name})}}">{{category.name}}</a>
            </div>
        {% endfor %}
    </div>
</section>

<article class="sections">
    <div class="title">
        <h1>{{article.title}}</h1>
    </div>
    <div class="date">
        Dernière mise à jour le : <time datetime="{{article.updatedAt|date('Y-m-d')}}">{{article.updatedAt|date('Y-m-d')}}</time>
    </div>
    <div class="image">
        <img src="{{ asset('/upload/'~ article.image)}}" alt="{{article.title}}">
    </div>
    <br>
    {% if article.imageSource %}
    <div class="imageSource">
        {{article.imageSource}}
    </div>
    {% endif %}
    <div class="category">
        <a href="{{path('home')}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
          </svg>Accueil</a>  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg> <a href="{{path('categorie', {name:article.categorie})}}">{{article.categorie.name}}</a>
    </div>
    {% for section in sections %}
        <section class="section">
            {% if section.title %}
            <div class="title">
                <h2>{{section.title}}</h2>
            </div>
            {% endif %}
            {% if section.image %}
            <div class="image">
                <img src="{{ asset('/upload/'~ section.image)}}" alt="{{section.title}}" loading="lazy">
                {% if section.imageSource %}
                <div class="imageSource">
                    {{section.imageSource}}
                </div>
                {% endif %}
            </div>
            {% endif %}
            
            <div class="body">
                <p>{{section.body}}</p>
            </div>
            {% if section.link and section.linkName %}
            <a target="_blank" href="{{section.link}}">
                <div class="link">
                    {{section.linkName}}
                </div>
            </a>
            {% endif %}
        </section>
    {% endfor %}
</article>
<section class="otherArticles" id="otherArticles">
    <h2>Dans la même categorie : {{article.categorie.name}}</h2>
    <div class="articles">
        {% for article in otherArticleByCateorgy %}
            <div class="article">
                <a aria-label="linkToArticle" href="{{path('article', {id: article.id, slug: article.title|slugify})}}">
                    <div class="card">
                        <div class="image">
                            <img src="{{ asset('/upload/'~ article.image)}}" alt="{{article.title}} image">
                        </div>
                        <div class="infos">
                            <div class="categorie">
                                <p>{{article.categorie}}</p>
                            </div>
                            <div class="title">
                                <p>{{article.title}}</p>
                            </div>
                            <div class="date">
                                <p>{{article.updatedAt|date("Y-m-d")}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        <div class="article">
            <a aria-label="linkToArticle" href="{{path('categorie', {name: article.categorie})}}">
                <div class="card" id="more">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                      </svg>
                      <p>Voir plus</p>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
   var lazyloadDivs = document.querySelectorAll(".otherArticles");
   
   var observer = new IntersectionObserver(function(entries) {
      entries.forEach(function(entry) {
         if (entry.isIntersecting) {
            entry.target.classList.add("loaded");
            observer.unobserve(entry.target);
            console.log("loaded");
         }
      });
   });
   
   lazyloadDivs.forEach(function(div) {
      observer.observe(div);
   });
});
</script>
{% endblock %}
