{% extends 'base.html.twig' %}

{% block head %}
<title>{{article.title}}</title>
<meta name="description" content="{{metaDesc}}">
<meta name="robots" content="index">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8548677463017804" crossorigin="anonymous"></script>
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/article.css') }}" rel="stylesheet" />
<link href="{{ asset('css/hideHeader.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<section class="article">
    <div class="image">
        <img src="{{ asset('/upload/'~ article.image)}}" alt="{{article.title}} image">
        <div class="overlay">
            <div class="title">
                {{article.title}}
            </div>
        </div>
    </div>
    <div class="sections">
        {% for section in sections %}
            <div class="section">
                {% if section.title %}
                <div class="title">
                    {{section.title}}
                </div>
                {% endif %}
                {% if section.image %}
                <div class="image">
                    <img src="{{ asset('/upload/'~ section.image)}}" alt="{{section.title}} image">
                </div>
                {% endif %}
                <div class="body">
                    {{section.body}}
                </div>
                {% if section.link and section.linkName %}
                <div class="link">
                    {{section.link}}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
<div class="backBtn">
    <a href="{{path('home')}}" aria-label="Page home">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle-fill"
            viewBox="0 0 16 16">
            <path
                d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg>
    </a>
</div>
{% endblock %}
